{% extends 'base.html' %}
{% block content%}
<div class="row">
    <div class="col">
        <p>На данной страницы будут отображаться все созданные сниппеты.</p>
        <p>Пока тут пусто, скоро мы это исправим!</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-2">
        Список сниппетов:
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">lang</th>
      <th scope="col">code</th>
      <th scope="col">datetime</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody>
    {%for snippet in snippets%}
    <tr>
      <td>{{snippet.id}}</td>
      <td>{{snippet.name}}</td>
      <td>{{snippet.lang}}</td>
      <td>{{snippet.code}}</td>
      <td>{{snippet.creation_date|date:"d.m.Y"}}</td>
      <td>{{snippet.author.username|default:"Отсутствует"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}