{% extends 'base.html' %}
{% block content%}
<div class="row">
    <div class="col">
        <p>На данной страницы будут отображаться все созданные сниппеты.</p>
        <p>Пока тут пусто, скоро мы это исправим!</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-2">
        Список сниппетов:
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">lang</th>
      <th scope="col">code</th>
      <th scope="col">datetime</th>
      <th scope="col">author</th>
      <th scope="col">public</th>
    </tr>
  </thead>
  <tbody>
    {%for snippet in snippets%}
    <tr>
      <td>{{snippet.id}}</td>
      <td><a href="{%url 'snippet_page' snippet.id%}">{{snippet.name}}</td</a>,
      <td>{{snippet.lang}}</td>
      <td>{{snippet.code}}</td>
      <td>{{snippet.creation_date|date:"d.m.Y"}}</td>
      <td>{{snippet.author.username|default:"Отсутствует"}}</td>
      <td>{{snippet.public}}</td>
      <td>
        <form action="{% url 'comment_add' %}" method="POST">
            {% csrf_token %}
            {{comment_form}}
            <button type="submit" class="form-control form-control-lg btn btn-info">Добавить комментарий</button>
        </form>
       </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}